<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Qualist</title>
  <style>
    {{{css}}}
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to Qualist!</h1>
    <p id="user_name">Dear {{name}},</p>
    <p>We are thrilled to welcome you to Qualist, your new platform for supporting software quality audits.</p>
    <p>Your account has been successfully created. Below are your login credentials:</p>
    <ul>
      <li><strong>Email:</strong> {{email}}</li>
      <li><strong>Password:</strong> {{password}}</li>
    </ul>
    <p>We recommend that upon your first login, you change your password to one of your choice. Please remember to select a secure password, containing a combination of letters, numbers, and special characters.</p>
    <p>Qualist is a powerful tool designed to streamline your audit processes, providing valuable insights to enhance software quality. We're excited to have you on board!</p>
    <p>If you have any questions or encounter any issues, feel free to reach out to us via email at <a href="mailto:qualist.contact@gmail.com" class="btn">Contact Support</a> or directly contact your administrator.</p>
    <p>Best Regards,<br>The Qualist Team</p>
  </div>
</body>
</html>
